.investment-calculator {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid gray;
}

.investment-calculator-form {
  display: flex;
  flex-direction: column;
}

.investment-calculator-form p,
.investment-calculator-form button {
  margin-top: 7px;
}

.portfolios-in {
  padding-top: 30px;
}
