.portfolios-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.portfolios-page h1 {
  margin-left: 2.5rem;
  /* margin-top: 0.5rem; */
}

.portfolios {
  height: 100%;
  width: auto;
  /* overflow: auto; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: left; */
  align-items: center;

  margin-top: 10px;
  list-style-type: none;
}

.portfolio-card {
  position: relative;
  display: block;
  height: auto;
  flex: 0 0 33.333333%;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
  background-color: lightgray;
}
.card__image {
  width: 100%;
  height: auto;
  /* width: 590px;
  height: 552px; */
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(40) * 1px);
  background-color: #fff;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card__overlay a {
  text-decoration: none;
}

.portfolio-card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(40) * 1px) 0 0 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: #fff;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.portfolio-card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.add-portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  background-color: transparent;

  padding: 5rem;
}
.add-portfolio-box {
  text-decoration: none;
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.action-form {
  background: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

@media only screen and (max-width: 992px) {
  .portfolios {
    margin: 0;
    padding: 0;
    padding-left: 0.2rem;
    padding-top: 15px;
  }
  /* .portfolio-card {
    margin: 0;
    margin-right: 30px;
  } */
}

/* .MuiPaper-root {
  height: 100%;
} */

.recharts-surface {
  padding: 5px;
}
.portfolio-page {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr; */
  /* max-width: 99%; */
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.holdings-pie-chart {
  width: 455px;
  height: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.portfolio-actions {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.portfolio-line-chart {
  padding: 2rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.portfolio-line-chart h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-decoration: underline;
}

.portfolio-details {
  display: flex;
  justify-content: space-between;
}

.portfolio-details .portfolio-number {
  font-weight: bold;
  font-size: 1.2rem;
}

.holdings-table {
  padding-right: 1rem;
}

@media only screen and (max-width: 992px) {
  .portfolio-page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .holdings-pie-chart {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .portfolio-line-chart {
    width: 100%;
    padding: 0;
  }

  .portfolio-line-chart p {
    font-size: 16px;
    /* padding: 1rem 0; */
  }

  .portfolio-details {
    padding: 1rem 0;
  }

  .portfolio-wrapper {
    padding: 1rem;
  }

  .holdings-table {
    margin: 0;
    padding: 0;
  }

  .MuiPaper-root {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .recharts-cartesian-axis-tick {
    font-size: 12px;
  }
}
