.navbar-center {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.collapsed-center {
  display: flex;
  /* justify-content: space-between; */
}

.navbar {
  background: white !important;
  padding-bottom: 5px;
  /* border-bottom: solid 1px rgba(41, 41, 41, 1); */
}

.navbar-secondary {
  width: 60%;
  margin: 0 auto;
  height: 50px;
}

.big-navbar {
  display: block;
}

.small-navbar {
  display: none;
}

@media only screen and (max-width: 992px) {
  .navbar-center {
    width: 100%;
    margin: 0;
    display: block;
  }

  .small-navbar {
    display: block;
  }

  .big-navbar {
    display: none;
  }

  .navbar {
    padding-top: 10px;
  }
}

.nav-link:hover {
  color: #3d9970 !important;
}
